
%p
  %b Status:
  = @spec_scan.status


= link_to 'Back to Project', @spec_scan.project



= javascript_include_tag "https://www.google.com/jsapi" 

= line_chart [{name: "Baseline", data: @spec_scan.project.baseline.scan_items.group(:lower).sum(:power)},{name: "Scan", data: @spec_scan.scan_items.group(:lower).sum(:power)},]

